.table{
    table{
        margin-bottom: 10px;
        td{
            padding: 20px;
            border: none;
        }
        thead{
            background-color: #000;
            font-size: 20px;
            font-weight: 600;
            
        }
        tbody{
            color: #000;
            font-weight: 500;
            tr{
                .hobbie{
                    word-break: break-word;
                    max-width: 100px;
                    font-size: 15px;
                }
                .action{
                    margin: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    display: flex;
                    background-color: #0009;
                    .edit{
                        padding: 5px;
                        border-radius: 10px;
                        margin-right: 10px;
                        border: solid 2px transparent;
                        &:hover{
                            cursor: pointer;
                            border: solid 2px #FFB820;
                        }
                    }
                    .delete{
                        padding: 5px;
                        border-radius: 10px;
                        border: solid 2px transparent;
                        &:hover{
                            cursor: pointer;
                            border: solid 2px #E76E54;
                        }
                    }
                }
            }
        }
    }

    .pageButtonContainer{
        display: grid;
        width: 100%;
        height: 40px;
        grid-template-columns: max-content 1fr max-content;
        width: 100%;
        position: relative;
        button{
            color: white;
            font-size: 18px;
            background-color: #0005;
            border-radius: 50%;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: 1px solid transparent;
            transition: 0.4s;
            &:hover{
                cursor: pointer;
                background-color: #0009;
                border: 1px solid white;
            }
        }
        .back{
            transform: rotate(-180deg);
            justify-self: flex-start;
        }
        .next{
            justify-self: flex-end;
        }
        label{
            text-align: center;
            font-size: 32px;
        }
    }
}